*,body{
  --bg-black: #1F1F1E;
  --black-text: #9E9EAE;
  --green:#12A454;
  --white-bg:#E7EEF3;
  font-family: Lato, 'sans-serif';
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background:var(--white-bg);
}

footer{
  text-align: center;
  padding:4rem 0 2rem;
  opacity: 0.5;
  font-weight: 300;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sr-only {  /*Configuração para leitor de tela*/
  position: absolute;
  width:1px;
  height:1px;
  padding:0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border-width: 0;

}

@media(max-width:768px){
  html{
    font-size:85.6%;
  }
  .card-container{
    width:100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction:column;
    height:auto;
    gap:1rem;

  }
  .card-container .card{
    width:80%;
    padding-bottom:1rem
  }

  .inputs form{
    width:80%;
    margin:auto;
    flex-direction:column;
  }
  .table-container{
    width:80%;
  }

}

