.card-container{
  display:flex;
  flex-direction:row;
  margin:auto;
  max-width:768px;
  height:8rem;
  justify-content:space-between;
  position:relative;
  top:-5.5rem;
}

.card-container .card{
  width:30%;
  height:100%;
  border-radius:.5rem;
  background-color:white;
}

.card-container .card:last-child{
  background:var(--green);
  color:white;
}

.card-container .card .card-type{
  padding:1rem .5rem;
  display:flex;
  font-weight:700;
  justify-content:space-between;
  align-items:center;
  width:80%;
  font-size:1.1rem;
  margin:auto;
}

.card-container .card .value{
  display:flex;
  font-weight:400;
  font-size:1.6rem;
  width:80%;
  margin:auto;
  padding-left:.5rem;
}

.inputs{
  max-width:768px;
  margin: 1rem auto 0 auto;
  position: relative;
  top: -5rem;
  
  align-items: center;
}

.inputs form{
  display:flex;
  flex-direction: row;
  gap:1rem;
  justify-content: space-between;
  align-items: center;
}

.inputs form input{
  width:14rem;
  height:2rem;
  padding:.2rem;
  border:1px var(--green) solid;
}

select{
  border-radius:.2rem;
  width:8rem;
  height:2rem;
  border-radius:.5rem;
}

.inputs form .input-group{
  width:100%;
  
}
.inputs form .input-group input{
  width:100%;
  border-radius:.3rem;
}

#newTransaction{
  border:none;
  border-radius:.5rem;
  font-weight:bold;
  height:2rem;
  width:100%;
  align-items:center;
  color:var(--white-bg);
  background:var(--green);
}

#new{
  gap:.5rem;
  display:flex;
  justify-content: space-between;
  width:100%;
}

// =================Responsive=================

