.table-container{
  max-width:768px;
  margin:auto;
  display: flex;
  flex-direction: column; 
  position:relative;
  top:-3rem;
}

.table-container .tableHeader{
  border-radius:.5rem;
  color:var(--black-text);
  background:white;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.table-container .tableRow{
  color:var(--black);
  border-radius:0;
  background:white;
  display:flex;
  border-left:1px solid var(--green);
  border-right:1px solid var(--green);
  font-weight:bold;
  align-items: center;
  justify-content: space-between;
}

.table-container .tableRow:last-child{
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom:1px solid var(--green);
  border-left:1px solid var(--green);
  border-right:1px solid var(--green);
}
.table-container .tableRow:first-child{
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  border-top:1px solid var(--green);
  border-left:1px solid var(--green);
  border-right:1px solid var(--green);
}
.table-container .tableRow .Value{
  color:var(--green);
  font-weight:700;
}
.table-container .tableRow  .red {
  color: #B8405E;
}
.tableRow button{
  background:none;
  border:none;
  margin:0;
  padding:0;
}



.table-container .tableRow:hover{
  background:#CFD2CF;
}

.table-container .cell{
  width:10rem;
  height:100%;
  padding:1.3rem;
}



.table-container .remove{
  width:4rem;
}
