.table-container{
  max-width:768px;
  margin:auto;
  display: flex;
  flex-direction: column;
  gap:10px;
  
  position:relative;
  top:-3rem;
}

.table-container .tableHeader{
  border-radius:.5rem;
  color:var(--black-text);
  background:white;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.table-container .tableRow{
  color:var(--black);
  border-radius:.5rem;
  background:white;

  display:flex;
  align-items: center;
  justify-content: space-between;
  opacity:.5;
}
.table-container .tableRow .Value{
  color:var(--green)
}
.table-container .tableRow .red{
  color: red;
}
.tableRow button{
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.table-container .tableRow:hover{
  background:#E6EDF2;
}

.table-container .cell{
  width:10rem;
  height:100%;
  padding:1.3rem;
}



.table-container .remove{
  width:4rem;
}
